html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: YuGothic, "Yu Gothic Medium", "adobe-clean", sans-serif;
  width: 100%;
  background-color: white;
  color: #333;;
}

.container {
  width: 85%;
  max-width: ;
  min-width: ;
  margin: 0 auto;
}


#header-image {
  background-image: url(book.jpg);
  background-size: 100% 100%;
  height: 150px;
  color: #994641;
  padding-top: 90px;
}

.menubar {
  height: 60px;
  background-color:#994641;
  box-shadow: 0 0 4px 4px rgba(255,255,255,0.7);
}

header li {
  float: left;
  width: calc(100% / 3);
  color: white;
  text-align: center;
  line-height: 60px;
}

main {
  clear: left;
}

.clum {
  float:left;
  height: 1000px;
}

.left {
  width: 80%;
    margin: 20px 0;
  border-right: 2px dashed #994641;
  padding-right: 20px;
}

.book-title {
  border-left: 5px solid #994641;
}

.book-image {
  display: inline-block;
  width:40%;
}

.book-info {
  display: inline-block;
}

.box {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 20px;
}

.form {
  margin-bottom:30px;
  border: 2px dotted #994641;
  background-color: /*#e0d6a8*/ #f3e9cd;
  border-radius: 10px;
}

input, textarea {
  color: gray;
  margin-bottom: 15px;
}

.form p {
  border-bottom: 1px solid #333;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

label {
  padding-left: 5px;
}

.form span {
  color: #994641;
  font-size: 14px;
}

.form input {
  height: 2em;
}

.name {
  width: 40%;
}

input {
  width: 70%;
}

textarea {
  width:90%;
  margin-left: 10px;
}

.submit {
  width: 80px; 
  color: #333;
  margin: 0 auto;
}


.review {
  width: 100%;
  margin-bottom:10px;
  background-color: #acdfa9;
  border-radius: 5px;
  padding: 20px;
}

.title {
  border-left: 5px solid;
  vertical-align: text-bottom; /*効かない*/
}

.name {
  width: 100%;
  text-align: right
}


.right {
  padding-top: 10px;
  padding-left: 20px;
}

footer {
  clear: left;
  height: 60px;
  background-color: #994641;
  text-align: center;
  color: white;
}